<div class="dl-user-profile" ng-if="isMenuVertical && isAuthenticated">
    <span class="dl-profile-image-side dl-profile-online">
        <img src="images/employee.jpg" alt="user image" style="border-radius: 100%" />
        <i></i>
    </span>
    <div style="position: absolute; left: 100px; width:200px;">
        <div class="text-center">
            <div class="dl-user-profile-btn-group btn-group" style="display:inline;">
                <button class="btn dl-user-profile-btn dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-caret-down" style="padding:5px;"></i>
                </button>
                <ul class="dropdown-menu pull-left">
                    <li class="dropdown-header">Signed in as</li>
                    <li class="text-center">{{userName}}</li>
                    <li class="divider"></li>
                    <li>
                        <a tabindex="-1" href="#/profile"><span class="badge pull-right"><i class="fa fa-user"></i></span> Your profile</a>
                    </li>
                    <li>
                        <a tabindex="-1" href="#/favorites"><span class="badge pull-right"><i class="fa fa-star"></i></span> Favorites</a>
                    </li>
                    <li>
                        <a tabindex="-1" href="#/savedsearches"><span class="badge pull-right"><i class="fa fa-search"></i></span> Searches</a>
                    </li>
                    <li>
                        <a tabindex="-1" href="#/help"><span class="badge pull-right"><i class="fa fa-question"></i></span> Help</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a tabindex="-1" href="#/settings"><span class="badge pull-right"><i class="fa fa-cog"></i></span> Settings</a>
                    <li>
                        <a tabindex="-1" ng-click="logOut()"><span class="badge pull-right"><i class="fa fa-lock"></i></span> Sign out</a>
                    </li>
                    <li>
                        <a tabindex="-1" ng-click="goFullscreen()"><span class="badge pull-right"><i class="fa fa-arrows-alt"></i></span> Fullscreen</a>
                    </li>
                    <!--<li>
                <a tabindex="-1" href="javascript:void(0)"><span class="badge pull-right">3</span>News</a>
            </li>
            <li>
                <a tabindex="-1" href="javascript:void(0)"><span class="badge pull-right">1</span>Messages</a>
            </li>-->
                    <!--<li class="divider"></li>
            <li class="dropdown-header">More</li>
            <li>
                <a tabindex="-1" href="#/manage">Edit Profile..</a>
            </li>-->
                </ul>
            </div>
            <!-- <span class="text-left" style="margin-left: -20px; margin-top: -10px;">
                <p>Logged in as:</p>
                <p>{{userName}}</p>
            </span> -->
        </div>

        <!--<button class="btn btn-info btn-xs">
            <i class="fa fa-chevron-down"></i>
        </button>-->

    </div>
</div>
