<div class="dl-widget-body">
    <div class="dl-widget-menu-area btn-group">
        <a class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="padding:5px 10px; background: transparent; border: none;">
            <i class="fa fa-bars" ng-click="iconClicked()" />
        </a>
        <ul class="dropdown-menu pull-right" role="menu">
            <li ng-click="close()"><i class="fa fa-2x fa-close" ng-click="iconClicked()" /></li>
            <li ng-click="settings()"><i class="fa fa-2x fa-gear" ng-click="iconClicked()" /></li>
        </ul>
    </div>
</div>