<div>
    <dl-panel title="Basic Form" layout="col-xs-12 col-sm-6" color="default" icon="fa-lock" bodyclasses="text-center">
        <form role="form">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name"
                       placeholder="Enter Name">
            </div>
            <div class="form-group">
                <label for="inputfile">File input</label>
                <input type="file" id="inputfile">
                <p class="help-block">Example block-level help text here.</p>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Check me out
                </label>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </dl-panel>
    <dl-panel title="Basic Form" layout="col-xs-12 col-sm-6" color="default" icon="fa-lock" bodyclasses="text-center">
        <form role="form">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name"
                       placeholder="Enter Name">
            </div>
            <div class="form-group">
                <label for="inputfile">File input</label>
                <input type="file" id="inputfile">
                <p class="help-block">Example block-level help text here.</p>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Check me out
                </label>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </dl-panel>
    <dl-panel title="Basic Form" layout="col-xs-12 col-sm-6" color="default" icon="fa-lock" bodyclasses="text-center">
        <form role="form">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name"
                       placeholder="Enter Name">
            </div>
            <div class="form-group">
                <label for="inputfile">File input</label>
                <input type="file" id="inputfile">
                <p class="help-block">Example block-level help text here.</p>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Check me out
                </label>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </dl-panel>
    <dl-panel title="Basic Form" layout="col-xs-12 col-sm-6" color="default" icon="fa-lock" bodyclasses="text-center">
        <form role="form">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name"
                       placeholder="Enter Name">
            </div>
            <div class="form-group">
                <label for="inputfile">File input</label>
                <input type="file" id="inputfile">
                <p class="help-block">Example block-level help text here.</p>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Check me out
                </label>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </dl-panel>
</div>