<div class="panel panel-default">
    <div class="panel-heading">
        Sample Price Tables
    </div>
    <div class="panel panel-body">
            <dl-price-table title="Sample Product"
                            price="$199"
                            route="#"
                            buttoncolor="warning"
                            buttontext="Buy Now!"
                            color="red"
                            features="['Feature 1', 'Feature 2', 'Feature 3']"></dl-price-table>
            <dl-price-table title="Sample Product"
                            price="$199"
                            route="#"
                            buttoncolor="warning"
                            buttontext="Buy Now!"
                            color="green"
                            features="['Feature 1', 'Feature 2', 'Feature 3']"></dl-price-table>
            <dl-price-table title="Sample Product"
                            price="$199"
                            route="#"
                            buttoncolor="warning"
                            buttontext="Buy Now!"
                            color="blue"
                            features="['Feature 1', 'Feature 2', 'Feature 3']"></dl-price-table>
            <dl-price-table title="Sample Product"
                            price="$199"
                            route="#"
                            buttoncolor="warning"
                            buttontext="Buy Now!"
                            color="grey"
                            features="['Feature 1', 'Feature 2', 'Feature 3']"></dl-price-table>

    </div>
</div>