<div class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{dialogTitle}} Trail</h4>
            </div>
            <div class="modal-body">
                
                <form name="trailform" novalidate>
                    <div class="form-group">
                        <label>Id</label>
                        <input type="text" class="form-control" required ng-model="trail.id" />
                    </div>
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" required ng-model="trail.name" />
                    </div>
                    <div class="form-group">
                        <label>County</label>
                        <input type="text" class="form-control" required ng-model="trail.county" />
                    </div>
                    <div class="form-group">
                        <label>Elevation</label>
                        <input type="text" class="form-control" required ng-model="trail.elevation" />
                    </div>
                    <div class="form-group">
                        <label>Latitude</label>
                        <input type="text" class="form-control" required ng-model="trail.location.coordinates[0]" />
                    </div>
                    <div class="form-group">
                        <label>Longitude</label>
                        <input type="text" class="form-control" required ng-model="trail.location.coordinates[1]" />
                    </div>
                    <div class="form-group">
                        <label>Type</label>
                        <input type="text" class="form-control" required ng-model="trail.type" />
                    </div>
                    <div class="form-group">
                        <label>Doc Type</label>
                        <input type="text" class="form-control" required ng-model="trail.docType" />
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button ng-click="close()" class="btn btn-primary" ng-disabled="trailform.$invalid" data-dismiss="modal">Save</button>
                <button class="btn btn-default" ng-click="cancel()" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>