<div>
    <style scoped>
        .dl-view {
            background: transparent;
        }
        .error-template {
            padding: 40px 15px;
            text-align: center;
            color: white;
        }

        .error-actions {
            margin-top: 15px;
            margin-bottom: 15px;
        }

            .error-actions .btn {
                margin-right: 10px;
                box-shadow: 0px 0px 10px #e3e3e3;
                background: rgba(255,255,255,255);
                border-radius: 4px;

            }
    </style>
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    <i class="fa fa-exclamation-circle fa-3x fa-spin"></i>
                </h1>
                <h2 style="font-size: 4em;">
                    <strong>ERROR 500</strong>
                </h2>
                <div class="error-details">
                    Internal Server Error
                </div>
                <div class="error-actions">
                    <a href="#/index" class="btn btn-default"><span class="glyphicon glyphicon-home"></span> Go to Dashboard </a>
                </div>
            </div>
        </div>
    </div>
</div>
