<div class="container">
    <dl-panel title="Welcome to the Demo" layout="col-xs-12 col-sm-12" color="default" icon="fa-cloud" bodyclasses="text-center">
        <p>  This site demonstrates key functionality of <a href="https://azure.microsoft.com/en-us/services/search/">Azure Search</a> and <a href="https://azure.microsoft.com/en-us/services/documentdb/">Azure DocumentDB</a>.
        <hr>

        <div class="row text-center landing">

            <div class="col-sm-12">
                <a href="#/search">
                    <h3>Geo Search</h3>

                    <div>
                        <span class="glyphicon glyphicon-map-marker">
                        </span>
                    </div>
                </a>
                    <p class="help-block">Search listings and display results in Bing maps.</p>
            </div>
        <hr>
    </dl-panel>
</div>