<h1>Manage Trails</h1>
<p>You can manage trails data from this page.</p>
<p>
    <b>IMPORTANT!</b> Make sure you have configured your Web API endpoint correctly.
</p>

<div class="row" ng-controller="trailsController">
    <div ng-class="{'col-md-8': trailFormIsVisible, 'col-md-12': !trailFormIsVisible}">
        <button class="btn btn-success" type="button" ng-click="showAddTrailForm()">
            <span class="glyphicon glyphicon-plus"></span> Add Trail
        </button>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>County</th>
                    <th>Elevation</th>
                    <th>Location</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="t in trails">
                    <th scope="row">{{ t.id }}</th>
                    <td>{{ t.name }}</td>
                    <td>{{ t.county }}</td>
                    <td>{{ t.elevation }}</td>
                    <td>{{ t.location }}</td>
                    <td><button class="glyphicon glyphicon-edit" ng-click="update($index)"></button></td>
                    <td><button class="glyphicon glyphicon-trash" ng-click="delete($index)"></button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-4" ng-show="trailFormIsVisible">
        <!-- Show the form to add a new trail. -->
        <div class="panel panel-primary">
            <div class="panel-heading">
                {{ dialogTitle }} Trail
            </div>
            <div class="panel-body">
                <form name="trailform" novalidate ng-submit="submitTrailForm(trailform.$valid, trail)">
                    <div class="form-group">
                        <label>Id</label>
                        <input type="text" class="form-control" required ng-model="trail.id" />
                    </div>
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" required ng-model="trail.name" />
                    </div>
                    <div class="form-group">
                        <label>County</label>
                        <input type="text" class="form-control" required ng-model="trail.county" />
                    </div>
                    <div class="form-group">
                        <label>Elevation</label>
                        <input type="text" class="form-control" required ng-model="trail.elevation" />
                    </div>
                    <div class="form-group">
                        <label>Location</label>
                        <input type="text" class="form-control" required ng-model="trail.location" />
                    </div>
                    <div class="form-group">
                        <label>Type</label>
                        <input type="text" class="form-control" required ng-model="trail.type" />
                    </div>
                    <div class="form-group">
                        <label>Doc Type</label>
                        <input type="text" class="form-control" required ng-model="trail.docType" />
                    </div>
                    <button type="submit" class="btn btn-primary" ng-disabled="trailform.$invalid">Save</button>
                    <button class="btn btn-default" ng-click="cancelTrailForm()">Cancel</button>
                </form>
            </div>
        </div>

    </div>
</div>