<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="searchServiceName" value="[YOUR SEARCH SERVICE NAME]" />
    <add key="searchServiceApiKey" value="[YOUR AZURE SEARCH SERVICE ADMIN KEY]" />
    <add key="apiVersionString" value="api-version=2015-02-28"/>
    <add key="dbConnectionString" value="[FULL CONNECTION STRING INCLUDING DATABASE NAME FOR DOCUMENTDB]"/>
    <add key="dataSourceName" value="[NAME FOR DOCUMENTDB SOURCE IN SEARCH SERVICE]"/>
    <add key="dataSourceDescription" value="[DESCRIPTION FOR DOCUMENTDB SOURCE IN SEARCH SERVICE]"/>
    <add key="sourceCollection" value="[NAME OF SOURCE DOCUMENTDB COLLECTION"/>
    <add key="indexName" value="[NAME OF NEW SEARCH SERVICE INDEX TO CREATE]"/>
    <add key="indexDescription" value="[DESCRIPTION OF NEW SEARCH SERVICE INDEX TO CREATE"/>
    <add key="indexerName" value="[NAME OF NEW INDEXER TO CREATE]"/>
    <add key="indexerDescription" value="[DESCRIPTION OF NEW INDEXER TO CREATE]"/>
    <add key="suggesterName" value="[NAME OF NEW SUGGESTER TO CREATE FOR INDEX]"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.14.0.0" newVersion="6.14.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>