// General CSS Rules for Global or Single Use Definitions

	// Background Images
	$default-screen-background : #FFF;
	$sidebar-profile-background : '../img/demo/sidebar-bg.jpg';

	

	// .dl-pane .bar {height: 50px;}
	// .dl-pane ion-content {padding-top:7px;}

	// Margins
	.no-margin {margin:0;}
	// .dl-pane {padding-top:10px;}
	.dl-pane .dl-button-clear {border:none; background:none;}