<div class="jumbotron">
    <h1>Angular Azure Search</h1>
    <p class="lead">Sample full-featured web application containing separate WebRole (Front-End Client) and WebAPI (Web API 2 Site using DocumentDB as data store).</p>
    <p><a href="https://github.com/TheDarkCode/AngularAzureSearch" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Web API</h2>
        <p>WebAPI is fully working for Trails data. (0 Errors, 0 Warnings) Currently in transition to add hash partitioning sample. User Accounts work 100%.</p>
        <p><a class="btn btn-default" href="https://github.com/TheDarkCode/AngularAzureSearch/tree/master/src/AngularAzureSearch/AngularAzureSearch.WebAPI">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Role</h2>
        <p>WebRole works for basic functions. Being tweaked to handle User Accounts and permissions. dlFramework still in development.</p>
        <p><a class="btn btn-default" href="https://github.com/TheDarkCode/AngularAzureSearch/tree/master/src/AngularAzureSearch/AngularAzureSearch.WebRole">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Data Indexer</h2>
        <p>Currently set to Trails data schema. Allows rapid creation of data-source, index, suggester, and indexer for Azure Search using user-defined DocumentDB endpoint.</p>
        <p><a class="btn btn-default" href="https://github.com/TheDarkCode/AngularAzureSearch/tree/master/src/AngularAzureSearch/AngularAzureSearch.DataIndexer">Learn more &raquo;</a></p>
    </div>
</div>
