.dl-title-bar {
    color: #555459;
    background: #eceff1;
    padding: 0 20px;
    border-bottom: 3px solid rgba(255,255,255,0.6);
    -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.15);
    -moz-transition: linear 0.2s all;
    -o-transition: linear 0.2s all;
    -webkit-transition: linear 0.2s all;
    transition: linear 0.2s all;
}

.clearfix-navfixed {
    height: 68px;
    width: 100%;
}

.dl-logo-area {
    /*text-align: center;*/
}

.dl-title-area {
    display: inline-block;
    text-align: center;
}

.dl-icon {
    display: inline-block;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 8px;
    vertical-align: top;
    /* fallback support */
    border: 4px solid #999;
    border: 4px solid rgba(0,0,0,0.1);
}

.dl-icon-xs-separator {
    position: relative;
    width: 10px;
    font-size: 2em;
    left: 4px;
    top: 10px;
    display: inline-block;
    color: rgba(0,0,0,0.2);
}

.dl-logo-title {
    /*color: #111;*/
    margin-top: 6px;
    font-size: 22px;
    font-weight: 800;
    font-variant: small-caps;
}

.dl-logo-subtitle {
    font-size: 13px;
    margin-top: -13px;
}

@media screen and (max-width: 768) {
    .dl-logo-title {
        margin-top: 0px;
    }

    .dl-icon {
        height: auto;
        width: 40px;
    }

    .dl-title-bar {
        height: 54px;
    }

    .dl-user-profile-small {
        padding-top: 0px;
    }
}


/* Breakpoint dl-logo-area --- update the max-width
   or adjust the display commenting on the subtitle and icon */
@media screen and (max-width: 400px) {
    .dl-icon {
        /*display: none;*/
    }
    /* If using title and subtitle instead of xs-logo */
    .dl-logo-title {
        /*margin-top: 10px;
        margin-left: 20px;
        font-size: 18px;*/
        display: none;
    }

    .dl-logo-subtitle {
        display: none;
        /*margin-left: 20px;*/
    }
}

/* Comment if using title and subtitle instead of xs-logo */
/*@media screen and (max-width: 300px) {
    .dl-icon {
        display: none;
    }

    .dl-logo-title {
        display:none;
    }
    .dl-logo-subtitle {
        display: none;
    }
    .dl-icon-xs {
        display: inline-block;
    }
}

@media (min-width: 301px) {
    .dl-icon-xs {
        display: none;
    }
}*/

/*.dl-search-area {
    display: inline-block;
    text-align: center;
}

.dl-search-area form {
    border: none;

}

.floating-label-form-group {
    position: relative;
    margin-bottom: 0;
    padding-bottom: .5em;
    border-bottom: 1px solid #eee;
}

    .floating-label-form-group input,
    .floating-label-form-group textarea {
        z-index: 1;
        position: relative;
        padding-right: 0;
        padding-left: 0;
        border: 0;
        border-radius: 0;
        font-size: 1.5em;
        background: 0 0;
        box-shadow: none !important;
        resize: none;
    }

    .floating-label-form-group label {
        display: block;
        z-index: 0;
        position: relative;
        top: 2em;
        margin: 0;
        font-size: .85em;
        line-height: 1.764705882em;
        vertical-align: middle;
        vertical-align: baseline;
        opacity: 0;
        -webkit-transition: top .3s ease,opacity .3s ease;
        -moz-transition: top .3s ease,opacity .3s ease;
        -ms-transition: top .3s ease,opacity .3s ease;
        transition: top .3s ease,opacity .3s ease;
    }

    .floating-label-form-group::not(:first-child) {
        padding-left: 14px;
        border-left: 1px solid #eee;
    }

.floating-label-form-group-with-value label {
    top: 0;
    opacity: 1;
}

.floating-label-form-group-with-focus label {
    color: #18bc9c;
}

form .row:first-child .floating-label-form-group {
    border-top: 1px solid #eee;
}*/


.dl-right-side-controls {
    line-height: 60px;
}

    .dl-right-side-controls > div {
        text-align: center;
    }

@media screen and (min-width: 768px) {
    .dl-right-side-controls > div {
        text-align: right;
    }

    .dl-title-area {
        text-align: left;
    }

    .dl-logo-area {
        text-align: left;
    }
}

.dl-collapsed-menu {
    display: inline-block;
    height: 100%;
}

.dl-nav-button {
    width: 60px;
    margin-top: 6px;
    /*border: 1px solid #888;*/
    background: none;
    font-size: 28px;
    color: #777;
}

.dl-view {
    /* Size of Menu on Left Side */
    /*margin-left: 200px;*/
    padding: 20px;
    /*background-color: rgba(255,255,255,0.8);*/
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f6f6f6+47,ededed+100;White+3D+%231 */
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
    min-height: 100vh;
    overflow: auto;
}

.dl-view-mobile {
    margin-left: 0px !important;
}

.dl-view-full-width {
    margin-left: 0;
}

.dl-view:fullscreen {
    width: calc(100vw-200px);
}

.dl-user-profile {
    background-color: rgba(0,0,0,0.1);
    color: white;
    /*width: 200px;*/
    min-height: 120px;
}

    .dl-user-profile > div {
        display: inline-block;
        padding-top: 10px;
        margin-left: 5px;
    }

        .dl-user-profile > div > p {
            margin-bottom: 2px;
        }

        .dl-user-profile > div > button {
            margin-top: 8px;
        }

    .dl-user-profile img {
        float: left;
        margin: 20px 20px 0px;
        width: 80px;
        height: 80px;
        border: 2px inset rgba(255,255,255,0.2);
    }

.dl-user-profile-small {
    color: #333;
}

    .dl-user-profile-small > span {
        font-size: 18px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .dl-user-profile-small img {
        width: 40px;
        height: 40px;
        border: 2px inset rgba(255,255,255,0.2);
    }

.dl-profile-image {
    position: relative;
    display: inline-block;
    white-space: nowrap;
    border-radius: 100%;
    vertical-align: bottom;
}

.dl-profile-image-side {
    position: relative;
    display: inline-block;
    white-space: nowrap;
    border-radius: 100%;
    vertical-align: bottom;
}

.dl-profile-image i {
    position: absolute;
    right: 0;
    bottom: 9px;
    width: 11px;
    height: 11px;
    border: 2px solid #fff;
    border-radius: 100%;
}

.dl-profile-image-side i {
    position: absolute;
    right: 22px;
    bottom: 9px;
    width: 12px;
    height: 12px;
    border: 2px solid #fff;
    border-radius: 100%;
}

.dl-profile-online {
}

    .dl-profile-online i {
        background-color: green;
    }

.dl-profile-offline i {
    background-color: red;
}

.dl-user-profile-btn {
    background: transparent;
    border: none !important;
    color: white;
    text-shadow: 1px 1px 1px #000;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    font-size: 2em;
}

.dl-user-profile-small-name {
    top: 5px;
    line-height: 50px;
    font-size: 24px;
    display: inline;
    position: relative;
}