.dl-menu-area {
    position: relative;
    /*background-color: #32383f;*/
    color: white;
    padding-left: 0;
    -moz-transition: linear all 0.5s;
    -webkit-transition: linear all 0.5s;
    -o-transition: linear all 0.5s;
    transition: linear all 0.5s;
}

.dl-menu-area-vertical {
    float: left;
    min-width: 320px;
    min-height: 100vh;
    /*padding-top: 30px;*/
}

/*@media (min-width: 1060px) {
    .dl-menu-area-vertical {
        width: 480px;
    }
}

@media (min-width: 576px) {
    .dl-menu-area-vertical {
        width: 384px;
    }
}*/

.dl-menu-area-horizontal {
    width: 100%;
    /*min-height: 40px;*/
    background: #333;
}

.dl-menu-area .btn:hover {
    color: #ccc;
}

.dl-menu-area ul {
    padding-left: 0;
}

.dl-menu {
    list-style-type: none;
    vertical-align: top;
}

    .dl-menu ul {
        /*display: inline;*/
        list-style-type: none;
    }

    .dl-menu li {
        line-height: 3em;
        cursor: pointer;
    }

        .dl-menu li div {
            display: inline-block;
            width: 94%;
            padding-left: 16px;
        }

.dl-menu-icon {
    margin-right: 10px;
}

.dl-menu-active-indicator {
    float: right;
    color: rgba(255,255,255,0.5);
    margin-right: 0;
    margin-top: 8px;
}

.dl-menu-active-item-indicator {
    background: rgba(255,255,255,0.1);
    border-left: 2px solid rgba(255,255,255,0.2);
}

.dl-selectable-item:hover {
    background: -moz-linear-gradient(left, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0.5)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(to right, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
    border: 2px inset rgba(255,255,255,0.1);
    text-shadow: 1px 1px rgba(0,0,0,0.5);
}

.dl-noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dl-group-indicator-left {
    float: right;
    color: #ddd;
    margin-right: 2px;
    margin-top: 15px;
}

.dl-subitem-section {
    padding-left: 16px;
    top: auto !important;
}

.dl-menu-layout-button {
    margin: 12px;
    padding: 2px 8px;
    color: #bbb;
    /*background-color: #333;*/
    border: 1px solid #999;
}

.dl-layout-button-horizontal {
    position: absolute;
    top: -6px;
    right: 10px;
}

.dl-item-horizontal {
    display: inline-block;
    width: 180px !important;
    margin-left: 20px;
    margin-top: 10px;
    line-height: 1.5em !important;
}

    .dl-item-horizontal > dl-menu-icon {
        font-size: 2em;
    }

    .dl-item-horizontal:hover {
        border: none;
    }

.dl-popup-menu {
    position: absolute;
    /* Possibly adjust z-index if widgets are over z-index 1000 */
    z-index: 1000;
    /*background-color: #546e7a;*/
    background-color: #32383f;
    min-width: 180px;
    padding-left: 0;
    margin-left: 20px;
}

@media (min-width: 601px) {
    .dl-mobile-close-button {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .dl-menu-area-vertical {
        width: 100vw;
    }

    .dl-mobile-menu {
        /*border-top: 2px solid rgba(255,255,255,0.1);*/
    }

    .dl-menu-area {
        -webkit-transform: translate3d(0,0,0);
        position: fixed !important;
        top: 0;
        bottom: 0;
        z-index: 9999;
        /*background: rgba(84, 110, 122, 0.95);*/
        background: rgba(50, 56, 63, 0.95);
        overflow-y: scroll;
    }

    .dl-mobile-close-button {
        z-index: 9999;
        float: right;
        border: none;
        background: transparent;
        color: white;
        font-size: 3em;
        -moz-transition: linear all 0.5s;
        -webkit-transition: linear all 0.5s;
        -o-transition: linear all 0.5s;
        transition: linear all 0.5s;
    }

        .dl-mobile-close-button:hover {
            color: rgba(255,255,255,0.5);
        }
}

.dl-fade-in-animation {
    -moz-transition: linear all 0.5s;
    -webkit-transition: linear all 0.5s;
    -o-transition: linear all 0.5s;
    transition: linear all 0.5s;
}

    .dl-fade-in-animation.ng-hide {
        opacity: 0;
    }


.dl-menu-footer {
    bottom: 0;
    display: block;
    z-index: 1400;
    min-width: 320px;
    margin: 0;
    border-top: 2px solid rgba(255,255,255,0.2);
}


.dl-menu-footer-btn {
    background: rgba(0,0,0,0.3);
    border: none;
    border-radius: 0;
    color: white;
    display: block;
    float: left;
    width: 33.33333333%;
    height: 64px;
}

.animated {
    -webkit-animation-duration: 0.8s;
    -moz-animation-duration: 0.8s;
    -o-animation-duration: 0.8s;
    animation-duration: 0.8s;
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeOutLeft {
    0% {
        opacity: 1;
        -webkit-transform: translateX(320);
        -moz-transform: translateX(320);
        -ms-transform: translateX(320);
        -o-transform: translateX(320);
        transform: translateX();
    }

    100% {
        background: transparent;
        opacity: 0;
        -webkit-transform: translateX(-320px);
        -moz-transform: translateX(-320px);
        -ms-transform: translateX(-320px);
        -o-transform: translateX(-320px);
        transform: translateX(-320px);
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 1;
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }

    100% {
        opacity: 0;
        -moz-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
        -o-transform: translateX(-20px);
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
    }
}

.fadeOutLeft {
    -webkit-animation-name: fadeOutLeft;
    -moz-animation-name: fadeOutLeft;
    -o-animation-name: fadeOutLeft;
    animation-name: fadeOutLeft;
}

@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
        -moz-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
        -o-transform: translateX(-20px);
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}

@-moz-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -moz-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
        -o-transform: translateX(-20px);
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        -moz-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
        -o-transform: translateX(-20px);
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    -moz-animation-name: fadeInLeft;
    -o-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -moz-transform: translateY(20px);
        -ms-transform: translateY(20px);
        -o-transform: translateY(20px);
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    -moz-animation-name: fadeInUp;
    -o-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

@-webkit-keyframes flipOutX {
    0% {
        -webkit-transform: perspective(400px) rotateX(0deg);
        opacity: 1;
    }

    100% {
        -webkit-transform: perspective(400px) rotateX(90deg);
        opacity: 0;
    }
}

@keyframes flipOutX {
    0% {
        -moz-transform: perspective(400px) rotateX(0deg);
        -ms-transform: perspective(400px) rotateX(0deg);
        -o-transform: perspective(400px) rotateX(0deg);
        -webkit-transform: perspective(400px) rotateX(0deg);
        transform: perspective(400px) rotateX(0deg);
        opacity: 1;
    }

    100% {
        -moz-transform: perspective(400px) rotateX(90deg);
        -ms-transform: perspective(400px) rotateX(90deg);
        -o-transform: perspective(400px) rotateX(90deg);
        -webkit-transform: perspective(400px) rotateX(90deg);
        transform: perspective(400px) rotateX(90deg);
        opacity: 0;
    }
}

@-webkit-keyframes fadeOutUp {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
    }
}

@keyframes fadeOutUp {
    0% {
        opacity: 1;
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        -moz-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        -o-transform: translateY(-20px);
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
}

/**.ng-leave { 
    -webkit-animation-name: fadeOutUp; 
    animation-name: fadeOutUp; 
    -webkit-animation-duration: 0.7s; 
    animation-duration: 0.7s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
}*/
.panel {
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-name: fadeInUp;
    -moz-animation-name: fadeInUp;
    -o-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -moz-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        -o-transform: translateY(-20px);
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    -moz-animation-name: fadeInDown;
    -o-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

.dropdown-menu {
    -webkit-animation-duration: 0.8s;
    -moz-animation-duration: 0.8s;
    -o-animation-duration: 0.8s;
    animation-duration: 0.8s;
    -webkit-animation-name: fadeInDown;
    -moz-animation-name: fadeInDown;
    -o-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

.dl-menu-fade {
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-name: fadeOutLeft;
    -moz-animation-name: fadeOutLeft;
    -o-animation-name: fadeOutLeft;
    animation-name: fadeOutLeft;
}

@keyframes dlViewGrowLeft {
    0% {
        margin-left: 320px;
    }

    100% {
        margin-left: 0;
    }
}

@keyframes dlViewInLeft {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: 320px;
    }
}

.dlViewGrowLeft {
    -webkit-animation-name: dlViewGrowLeft;
    -moz-animation-name: dlViewGrowLeft;
    -o-animation-name: dlViewGrowLeft;
    animation-name: dlViewGrowLeft;
}
.dl-view-full-width {
    /*-moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);*/
    -webkit-animation-duration: 1.4s;
    -moz-animation-duration: 1.4s;
    -o-animation-duration: 1.4s;
    animation-duration: 1.4s;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-name: dlViewGrowLeft;
    -moz-animation-name: dlViewGrowLeft;
    -o-animation-name: dlViewGrowLeft;
    animation-name: dlViewGrowLeft;
}

.dlViewInLeft {
    -webkit-animation-name: dlViewInLeft;
    -moz-animation-name: dlViewInLeft;
    -o-animation-name: dlViewInLeft;
    animation-name: dlViewInLeft;
}

.dl-view-in-left {
    /*-moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);*/
    /*-webkit-animation-duration: 1.4s;
    -moz-animation-duration: 1.4s;
    -o-animation-duration: 1.4s;
    animation-duration: 1.4s;
    -moz-animation-timing-function: ease;
    -o-animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-name: dlViewInLeft;
    -moz-animation-name: dlViewInLeft;
    -o-animation-name: dlViewInLeft;
    animation-name: dlViewInLeft;*/

      /*margin-left: 320px !important;
  -webkit-transition: margin 1s ease;
     -moz-transition: margin 1s ease;
       -o-transition: margin 1s ease;
      -ms-transition: margin 1s ease;
          transition: margin 1s ease;*/
}